@import "../../css/colors.css";

.reload-container {
  width: 1.8rem;
  height: 1.9rem;
  padding: 0.375rem;
  border-radius: 0.25rem;
  user-select: none;
  user-drag: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .reload-container svg {
    stroke: #801d80 !important;
  }
  

