@import "../../css/colors.css";

.reload-container {
  width: 2rem;
  height: 2rem;
  padding: 0.445rem;
  border-radius: 0.25rem;
  user-select: none;
  user-drag: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  

