@import "../../css/colors.css";

.reload-container {
  width: 2rem;
  height: 2rem;
  padding: 0.445rem;
  border-radius: 0.25rem;
  user-select: none;
  user-drag: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .reload-button {
    border: none;
    /* padding: 5.8px; */
    background-color: transparent;
    cursor: pointer;
    background-color: #f7f7f7;
    /* border-radius: 3px; */
    /* border: 1px solid rgb(215, 215, 215); */
  }

  .reload-container:hover{
    background-color: $looks-light-transparent;
  }
  
  .reload-container svg {
    color: #801D80;
  }
