@import "../../css/colors.css";

.stop-all {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    user-select: none;
    cursor: pointer;
    border:1px solid #dedede;
    border-radius: 4px;
}

.stop-all:hover {
    background-color: $looks-light-transparent;
}

.stop-all {
    opacity: 0.5;
}

.stop-all.is-active {
    opacity: 1;
}

@media (max-width: 1024px) {
    .stop-all {
        width: 2rem;
        height: 2rem;
    }
}