.controls-container {
    display: flex;
    /* gap: 2; */
    justify-content: center;
    align-items: center;
}
.sprite-icon-hide{
    display: none;
}

.sprite-icon-bg{
   display: none;
}

.sprite-icon-bg-student{
    display: flex;
    justify-items: center;
    align-items:center ;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    background-color: #a67db8;
    border: 1px solid #8f2390;
    width: 2rem;
    height: 2rem;
}

.sprite-icon-bg-student-hide{

    font-size: 0.7rem;
    color: white;
    cursor: pointer;


}
.sprite-icon-bg-student-hide:hover{
    background-color: #f7f7f7;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;

}
.sprite-icon-bg-teacher{
    justify-items: center;
    align-items:center ;
    background-color: #720c8c;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #801d80;

}

.sprite-icon-bg-teacher-hide{
    font-size: 0.7rem;
    color: white;
    cursor: pointer;

}
.sprite-icon-bg-teacher-hide:hover{
    background-color: #f7f7f7;
}
.sprite-image-outer {
    position: relative;
    width: 2rem;
    height: 2rem;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sprite-image {
    user-select: none;
    pointer-events: none;
    max-width: 18px;
    max-height: 18x;
}
.red-green-buttons{

}
.green-button svg{
    width: 2rem;
    height: 2rem;
    padding: 0.445rem;
    border-radius: 0.25rem;
    user-select: none;
    user-drag: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}


@media (max-width: 1024px) {
    .controls-container{
        padding-top: 4px;
    }
    .sprite-icon-hide{
        display: flex;
        justify-items: center;
        align-items:center ;
        background-color: rgb(255, 255, 255);
        padding-left: 0.4rem;
        font-size: 0.7rem;
        color: white;
        cursor: pointer;
    }
    
    .sprite-icon-bg{
        display: flex;
        justify-items: center;
        align-items:center ;
        background-color: #a97cb4;
        font-size: 0.7rem;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }
    .red-green-buttons{
        width: 100%;
        position: relative;
        left: 0;
        border-radius: 5px;
        border: none;
        margin-right: 1rem;
        display: hidden;
    }
    
  }
  